* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}


body {
    background: #F5F5EB;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}

.accordion {
    max-width: 800px;
    margin: 0 auto;
    cursor: pointer;
}

.item {
    border-top: thin solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;


}

.item-end {
    border-bottom: thin solid lightgray;
}

input {
    display: none;
}

.content {    
    display: none;
    justify-content: center;
    margin-top: 10px; 
    transition: 0.1s ; 
    transform: scale(0);


}

.content > img {
    display: block;
    margin: 0 auto;     
}


.item label {
    cursor: pointer;
    display: block;
   
}

.title {
    display: flex;
    justify-content: space-between;

    
}

.title img {
    display: block;
    display: none;
    transition: 0.5s ease;  
}

label {
    transform: 1s ease;
}

label .title img {
    transform: rotate(0deg);
}

label p {
    color: blue;
    /* margin-bottom: 10px; */
}


input:checked + label .content {
    display: block;
    transform: scale(1);
}



input:checked + label .title img {
    transform: rotate(225deg);
}

input:checked +  label p {
    color: black;
}




/* HOVER EFFECT */
label:hover .content  {
    display: block;   
    transition: 1s ease-out;
    transform: scale(1); 

}



label:hover .title img {
    transform: rotate(135deg);
}

.accordion:hover .title img {
    display: block;
}

.accordion:hover input + label p {
    color: black;
}












